 #circle {
      width: 500px;
      height: 500px;
      -webkit-border-radius: 250px;
      -moz-border-radius: 250px;
      border-radius: 250px;
      background: red;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      z-index: 9;
    }
h1 {
  font-family: 'Pacifico', cursive;
  text-align: center;
  position: relative;
  top: 7rem;
  font-size: 200px;
  z-index: 1
}